<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.client_zhihu_hzy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ques_send" />
        <activity android:name=".MainActivity_wd" />
        <activity android:name=".MainActivity_xx" />
        <activity android:name=".MainActivity_fx" />
        <activity android:name=".MainActivity_sy" />
        <activity android:name=".MySecondActivityZc" />
        <activity android:name=".MyFirstActivityDl" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>